*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
   
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}
.contact .content p{
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}
 .contact .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 50px4;
    /* background: red; */
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px;
    display: flex;
    cursor: pointer;
}
.container .contactinfo .box .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 30deg, #01dbc2 0%, #01dbc2 10%,transparent 10%,transparent 50%);
    display: flex;
    align-items: center;
    justify-content: center;

}
.container .contactinfo .box .icon::before{
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #01dbc2 0%, #01dbc2 10%,transparent 10%,transparent 50%);
}
.container .contactinfo .box .icon::after{
    content: "";
    position: absolute;
    inset: 2px;
    background: #222;
}
.container .contactinfo .box .icon b{
    position: absolute;
    inset: 8px;
    background: #01dbc2;
    z-index: 2;
}
.container .contactinfo .box .icon i{
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: 1.25em;
}
.container .contactinfo .box .text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #01dbc2;
}
.container .contactinfo .txt{
    color: #fff;margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #01dbc2;
    padding-left: 10px;
    line-height: 1em;
}
.container .contactinfo .sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.container .contactinfo .sci a{
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;
}
.container .contactinfo .sci a:hover{
    color: #01dbc2;

}
.container .contactform{
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%,transparent 10%,transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
}
.container .contactform::before{
    position: absolute;
    inset: 0;
    content: '';
    inherits: false;
    initial-value: 0deg;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%,transparent 10%,transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.container .contactform::after{
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #222;
    background: #333;

}


@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate{
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}
.container .contactform form{
    position: relative;
    z-index: 10;
}
.container .contactform form h2{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}
.container .contactform form .inputbox {
    position: relative;
    width: 100%;
    margin-top: 20px;

}
.container .contactform form .inputbox input,
.container .contactform form .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #01dbc2;
    color: #fff;
    outline: none;
    resize: none;
}
.container .contactform form .inputbox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
}
.container .contactform form .inputbox input:focus~span,
.container .contactform form .inputbox textarea:focus~span,
.container .contactform form .inputbox input:valid~span,
.container .contactform form .inputbox textarea:valid~span
{
    color: #01dbc2;
    font-size: 0.9rem;
    transform: translateX(-24px);
}
.container .contactform form .inputbox input[type="submit"]{
    width: 100%;
    background: #01dbc2;
    color: #222;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}
/* responsive... */
@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .contactinfo,
    .contactform{
        width: 100%;
    }
    .container .contactform{
        padding: 40px;
    }
    .contact .contactform form{
        padding: 10px;
    }
}


